<%# METADATA %>
<% content_for :meta_title, "#{@user.first_name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, "Check out their latest recipes." %>
<% if @user.avatar.attached? %>
  <% content_for :meta_image, cl_image_path(@user.avatar.key) %>
<% else %>
  <% content_for :meta_image, cl_image_path("default_avatar_square.png") %>
<% end %>
<%# /METADATA %>

<h4 class="title-profile">
  <% if current_user == @user %>
    Your profile
  <% else %>
    <%= @user.first_name.possessive %> profile
  <% end %>
</h4>
<br>

<div class="pc-tab">
<input checked="checked" id="tab1" type="radio" name="pct" />
<input id="tab2" type="radio" name="pct" />
<input id="tab3" type="radio" name="pct" />
  <nav>
    <ul>
      <%# USER'S RECIPES TAB %>
      <li class="tab1">
        <label for="tab1"><%= current_user == @user ? "Your recipes" : "#{@user.first_name.possessive} recipes"%></label>
      </li>
      
      <%# liked RECIPES TAB %>
      <li class="tab2">
        <label for="tab2">Liked recipes</label>
      </li>
      
      <%# PROFILE TAB %>
      <li class="tab3">
        <label for="tab3">Profile</label>
      </li>
    </ul>
  </nav>
  <section>
  <br>

    <%# USER'S RECIPES TAB %>
    <div class="tab1">
      <div data-controller="refresh-list">
      
        <%# Search bar %>
        <%= simple_form_for :search, url: user_recipes_user_path(@user), method: :get, data: {
        refresh_list_target: 'form' } do |f| %>
          <%= render 'users/search_bar' %>
        <% end %>
        <%# List of results %>
        <% if @user_recipes.any? %>
          <%= render 'users/list', recipes: @user_recipes %>
        <% else %>
          <p>
            <%= current_user == @user ? "You haven't created any recipes yet" : "#{@user.first_name} hasn't created any recipes yet"%>
          </p>
          <br>
          <% if current_user == @user %>
            <%= link_to "+ Go ahead and create one", new_recipe_path, class: "btn-ghost btn-coral" %>
          <% end %>
        <% end %>

      </div>
    </div>

    <%# LIKED RECIPES TAB %>
    <div class="tab2">
      <div data-controller="refresh-list">

        <%# Search bar %>
        <%= simple_form_for :search, url: user_path(@user), method: :get, data: {
        refresh_list_target: 'form' } do |f| %>
          <%= render 'users/search_bar' %>
        <% end %>
        
        <%# List of results %>
        <% if @liked_recipes.any? %>
          <%= render 'users/list', recipes: @liked_recipes %>           
        <% else %>
          <p>
            <%= current_user == @user ? "You have no liked recipes yet. Just click on the heart on any recipe and it will magically show up here." : "#{@user.first_name} has no liked recipes yet"%>
          </p>
        <% end %>

      </div>
    </div>

    <%# PROFILE TAB %>
    <div class="tab3">
      <div class="main-card">
      <%# AVATAR %>
      <% if @user.avatar.attached? %>
        <%= cl_image_tag @user.avatar.key, :transformation=>[
          {:width=>300, :height=>300, :gravity=>"face", :radius=>"max", :crop=>"thumb"}], 
          class: "avatar avatar-very-large" %>
      <% else %>
        <%= image_tag "default_avatar_square.png", class: "avatar avatar-very-large" %>
      <% end %>
      <br><br>

      <%# PROFILE DETAILS %>
      <p><strong>Name:</strong> <%= @user.full_name %></p>

      <%# PUNDIT UPDATE %>
      <% if policy(@user).update? %>
        <p><strong>Email:</strong> <%= @user.email %>*</p>
        <small><p>* This is only visible to you.</p></small>
        <%= link_to "Edit profile", edit_user_registration_path, class: "btn btn-ghost" %>
      <% end %>
      </div>
    </div>
  </section>
</div>