<!DOCTYPE html>
<html>
  <head>
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">
    <!-- Facebook Open Graph data -->
    <%= render 'shared/facebook_open_graph_data' %>
    <!-- Twitter Card data -->
    <%= render 'shared/twitter_card_data' %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/649ff54fcc.js" crossorigin="anonymous"></script>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= cookies[:theme] %>">  
    <%#= render 'shared/analytics' %>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    
    <div class="background-main">
      <%= yield %>
    </div>    
    
    <%= render 'shared/footer' %>

  </body>
</html>
